@model IEnumerable<RecipeApp.Models.Recipes>

@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <h2>Latest Recipes</h2>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RecipeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cuisine.CuisineName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecipeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuisine.CuisineName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>@Html.ActionLink("View", "Details", "Recipes", new { id = item.Id }, null) </td>
                </tr>
            }

        </table>

    </div>